{% extends "base.html" %}

{% block content %}
<div class="card mb-3 border-warning mx-auto" style="max-width: 978px;">
    <div class="row g-0">
        <div class="col-md-2 text-center d-flex">
            <img src="/static/img/{{ names[game.game][0] }}.svg" class="p-3 m-auto block img-fluid rounded-start"
                alt="Иконка игры {{ names[game.game][1] }}">
        </div>
        <div class="col-md-8 d-flex mb-3">
            <h1 class="card-title m-auto">{{ names[game.game][1] }}</h1>
        </div>
    </div>
    <ul class="nav nav-pills nav-fill mx-3 gap-3" id="auth" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="tab-link nav-link active" id="pills-info-tab" data-bs-toggle="pill"
                data-bs-target="#pills-info" type="button" role="tab" aria-controls="pills-info"
                aria-selected="true">Информация
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <a class="tab-link nav-link" href="/games/{{ game_id }}/request">Заявка
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <button class="tab-link nav-link" id="pills-register-tab" data-bs-toggle="pill"
                data-bs-target="#pills-register" type="button" role="tab" aria-controls="pills-register"
                aria-selected="false">Заявка
            </button>
        </li>
    </ul>
    <div class="tab-content m-3" id="authContent">
        <div class="tab-pane show active fs-5" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab"
            tabindex="0">
            <h3 class="text-center">Сроки проведения</h3>
            <div class="text-center">
                <div>
                    <b>Начало</b>: <span class="datetime" data-unix="{{ game.start }}"></span>
                </div>
                <div>
                    <b>Длительность</b>: {{ time_formatter(game.duration) }}
                </div>
                <div>
                    <b>Окончание</b>: <span class="datetime" data-unix="{{ game.start + game.duration }}"></span>
                </div>
            </div>
            <hr>
            <h3 class="text-center">Ограничения</h3>
            <div class="text-center">
                {% if game.limits.age %}
                <div>Возвраст: {{ range_formatter(game.limits.age) }} лет</div>
                {% endif %}
                {% if game.limits.team_size %}
                <div>Размер команды: {{ game.limits.team_size }} человек</div>
                {% endif %}
            </div>
            <hr>
            <h3 class="text-center">Организатор</h3>
            <div class="mx-auto card border-dark mb-3" style="max-width: 640px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ game.org.icon }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ game.org.name }}</h5>
                            <p class="card-text">
                            <div>
                                Сайт: <a href="{{ game.org.site }}" target="_blank" rel="noopener noreferrer">ссылка</a>
                            </div>
                            <div>
                                Электронная почта: <a href="mailto:{{ game.org.email }}">{{ game.org.email }}</a>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="pills-register" role="tabpanel" aria-labelledby="pills-register-tab" tabindex="0">
            bebra
        </div>
    </div>
</div>

<script>
    $('.datetime').each(function () {
        var unixTS = $(this).data("unix")
        console.log(typeof unixTS)
        var date = new Date(unixTS * 1000)
        $(this).text(date.toLocaleString());
    });
</script>
{% endblock content %}