{% extends "base.html" %}

{% block content %}
<h1 class="text-center mb-3">Правила игр</h1>
<hr class="my-4">

<ul class="nav nav-pills mb-3 justify-content-center hstack gap-3" id="rules" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="tab-link nav-link active" id="pills-domino-tab" data-bs-toggle="pill"
            data-bs-target="#pills-domino" type="button" role="tab" aria-controls="pills-domino"
            aria-selected="true">Домино
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="tab-link nav-link" id="pills-ttt-tab" data-bs-toggle="pill" data-bs-target="#pills-ttt"
            type="button" role="tab" aria-controls="pills-ttt" aria-selected="false">Крестики-нолики
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="tab-link nav-link" id="pills-bonuses-tab" data-bs-toggle="pill" data-bs-target="#pills-bonuses"
            type="button" role="tab" aria-controls="pills-bonuses" aria-selected="false">Бонусы
        </button>
    </li>
</ul>
<div class="tab-content" id="rulesContent" style="max-width: 768px; margin-right: auto; margin-left: auto;">
    <div class="tab-pane fade show active alert alert-dark" role="alert" id="pills-domino" role="tabpanel"
        aria-labelledby="pills-domino-tab" tabindex="0">
        <h2 class="text-center">Домино</h2>
        <hr>
        <h4>Решение задач</h4>
        <p>
            В начале игры к столу жюри подходят по одному представителю команд и берут по одной задаче. <br><br>
            У команды есть 2 попытки сдать ответ задачи. Один участник от команды приносит ответ ВМЕСТЕ с доминошкой.
            Если правильный ответ дан с первой попытки, то команда получает количество баллов, равное сумме очков
            доминошки, на которой написана задача. Если правильный ответ дан со второй попытки, то команда получает
            количество баллов, равное большему числу из написанных на доминошке. Если со второй попытки снова дан
            неправильный ответ, то у команды вычитается количество баллов, равное меньшему числу из написанных на
            доминошке. После того, как сдан ответ, команда выбирает следующую задачу из имеющихся на столе и нерешенных
            ею или неверно решенных в первую попытку. <br><br>
            Таким образом, в каждый момент времени у команды есть только одна задача. Особая ситуация с карточкой
            «Пусто-пусто». На решение этой задачи дается всего одна попытка. Но за правильный ответ дается 10 баллов.
        </p>
        <hr>
        <h4>Окончание игры</h4>
        <p>
            Игра заканчивается, когда у команды не осталось задач, которые она еще не решала, или истекло время,
            отведенное на игру.
        </p>
    </div>
    <div class="tab-pane fade alert alert-dark" role="alert" id="pills-ttt" role="tabpanel"
        aria-labelledby="pills-ttt-tab" tabindex="0">
        <h2 class="text-center">Крестики-нолики</h2>
        <hr>
        <h4>Решение задач</h4>
        <p>
            Задачи можно решать в любом порядке. Каждую задачу можно сдавать только один раз. Ответы к задачам сдаются
            по одному. <br><br>

            Если задача решена правильно, то в соответствующую клетку ставится «крестик», если неправильно – «нолик». За
            правильно решенную задачу команда получает количество баллов, равное количеству правильно решенных задач,
            «стоящих» в клетках, соседних по стороне с решенной задачей, плюс один балл (за саму задачу). <br><br>

            Если задача решена неправильно, то баллы не увеличиваются и не уменьшаются. Таким образом, правильная задача
            дает баллы не только своей клетке, но и клеткам, соседним по стороне. Например, в игре возникла такая
            ситуация (х – правильно решенная задача, 0 – не правильно). <br><br>
        </p>
        <hr>
        <h4>Окончание игры</h4>
        <p>
            Игра заканчивается, когда у команды не осталось задач, которые она еще не решала, или истекло время,
            отведенное на игру.
        </p>
    </div>
    <div class="tab-pane fade alert alert-dark" role="alert" id="pills-bonuses" role="tabpanel"
        aria-labelledby="pills-bonuses-tab" tabindex="0">
        <h2 class="text-center">Бонусы</h2>
        <hr>
        <h4>Решение задач</h4>
        <p>
            Продолжительность игры 2 часа (120 минут). Есть 24 задачи: 8 задач по 3 балла, 8 задач по 4 балла и 8 задач
            по 5 баллов. В начале игры команда первую задачу каждой стоимости. <br><br>
            Каждой команде выдается набор из 24 бланков для ответов, на каждом бланке указан бонус: 6 бонусов «+1», 4
            бонуса «+2», 2 бонуса «+3», 6 бонусов «*2», 4 бонуса «*3», 2 бонуса «*4». Команда сама выбирает, к какой
            задаче какой бонус применить. <br><br>
            Сдав ответ на задачу, команда получает следующую задачу такой же стоимости. Если задачи данной стоимости
            закончились, то команда не получает новой задачи. <br><br>
            Если задача решена верно, то бонус применяется к стоимости задачи, в противном случае команда получает 0
            баллов.
        </p>
        <hr>
        <h4>Окончание игры</h4>
        <p>
            Игра заканчивается, если закончилось время, отведенное на игру, или сданы все задачи.
        </p>
    </div>
</div>
{% endblock content %}